#header-div{
    position: sticky;
    top: 0;
    background-color: #1A0E0E;
}
#header-first{
    display: flex;
    justify-content:center;
}
#lng-change{
    display: flex;
    align-items: center;
    
}
#header-name{
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 20%;
}
.lng-buttons{
    color: white;
    margin-right: 2pc;

    cursor: pointer;
}

#selected-lgn{
    background-color: white;
    color: #1A0E0E;
}
.boton-header{
    background-color: #1A0E0E;
    color: white;
    width: 100%;
    height: 100%;
    font-size: larger;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;

}
.boton-header:hover{
    background-color: rgba(255, 255, 255, 0.285);
}
.btn-Div{
    background-color: #1A0E0E;
    width: 100%;
    display: flex;
}

#navBar-header{
    display: flex;
    justify-content: space-around;
    height: 70px;
}
@media screen and (max-width: 400px) {
    #navBar-header{
        display: none;
    }
    #header-name{
        font-size: xx-large;
        flex-direction: column;
    }
    #lng-change{
        
        
    }
    .lng-buttons{
       font-size: x-large;
    }
}