
#contactDiv{
    width: 100%;
    height: 250px;
    color: white;
}
#allContactDiv{
    background-color: #1A0E0E;
    height: 100%;
    border-radius: 10px;
}
#contactInfoDiv{
    display: flex;
    justify-content:space-around;
}
#contactImgs{
    display: flex;
    background-color: #1A0E0E;
    justify-content: flex-end;
}
#contactImgs img{
    margin-left: 20px;
    width: 50px;
    cursor: pointer;

}
#donwloadH3{
    color: red;
    text-decoration-line: underline;
    cursor: pointer;
}
#donwloadH3:hover{
    font-size: x-large;
}
#contactImgs img:hover{
    width: 80px;
}
@media screen and (max-width: 500px){
    #contactDiv{
        height: 350px;
    }
    #contactInfoDiv{
        display: block;
        align-items: center;
    }
    #contactInfoDiv h1{
        font-size: x-large;
    }
    #contactInfoDiv h3{
        font-size: medium;
    }
    #contactImgs img{
        margin-right: 20px;
    }
}