#StarterDiv{
    display: flex;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    flex-direction: column;

}

#StarterName{
    font-size:100px;
}
#typingtext{
    font-size:40px;
    width: 1000px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
#botonStarter{
    width: 250px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
    border-width: 3px;
}

#botonStarter:hover{
    background-color: #1A0E0E;
    color: white;
}

@media screen and (max-width: 400px) {
    #StarterDiv{
       left: 45%;
    
    }
    #StarterName{
        font-size:30px;
    }
    #typingtext{
        font-size:20px;
        width: 1000px;
        align-items: center;
        display: flex;
        justify-content: center;
        
    }
    #botonStarter{
        border-radius: 50px;
    }
}